<section class="section-padding homepage-rest-block">
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h5 mb-0 text-gray-900">Top Restaurant</h1>
      <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-eye fa-sm text-white-50"></i> View All</a>
    </div>
    <div class="row">
      <div class="col-xl-3 col-sm-6">
        <div class="custom-card shadow-sm bg-white h-100">
          <div class="custom-card-image">
            <a href="#">
              <img class="img-fluid item-img" src="images/custom-card/9.png">
            </a>
            <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
              <svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0V480H2880V0H2160Z" fill="currentColor">
                </path>
              </svg>
            </div>
          </div>
          <div class="p-3">
            <div class="custom-card-body">
              <h6 class="mb-1"><a class="text-gray-900" href="#">Special Offer: Get Up to 50% Off On
                  Web Hosting</a></h6>
              <p class="text-gray-500 mb-2"><i class="icofont-price"></i> <s>$150</s> <span class="text-gray-600 font-weight-bold">$80</span></p>
            </div>
            <div class="custom-card-badge mt-2">
              <span class="badge badge-success">OFFER</span> Flat 50% on all Stores
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>