<section class="section-padding homepage-store-block">
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h5 mb-0 text-gray-900">Top Stores</h1>
      <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-eye fa-sm text-white-50"></i> View All</a>
    </div>
    <div class="row  align-items-center">
      <div class="col-lg-3">
        <div class="owl-carousel owl-theme owl-carousel-four homepage-coupon-carousel">

          <div class="item">
            <div class="custom-card bg-white shadow-sm h-100 stor-card">

              <div class="custom-card-image">
                <div class="member-plan"><span class="badge badge-warning">Gold Member</span></div>
                <a href="#">
                  <img class="img-fluid item-img" src="images/custom-card/5.png">
                </a>
                <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
                  <svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0V480H2880V0H2160Z" fill="currentColor"></path>
                  </svg>
                </div>
                <div class="store-star"><span class="badge badge-success"><i class="icofont-star"></i> 3.1</span></div>
              </div>
              <div class="p-3">
                <div class="custom-card-body">
                  <h6 class="mb-0"><a class="text-gray-900" href="#">The Home Depot, Inc.</a></h6>
                  <p class="text-gray-500 mb-2">Andheri East Office, Mumbai</p>
                  <p class="text-gray-500 mb-0"><span class="text-gray-900">Variety store</span>
                  </p>
                </div>
              </div>

              <div class="p-3 border-top">
                <div class="custom-card-badge">
                  <span class="badge badge-danger"><i class="icofont-sale-discount"></i>
                    OFFER</span> Flat 50% on all Stores
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>