<section class="section-padding homepage-search-block position-relative">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto pt-lg-5">
        <div class="homepage-search-title text-center">
          <h1 class="mb-3 text-shadow text-gray-900 font-weight-bold">Find Best Deals in <span class="font-weight-light">UK</span></h1>
          <h5 class="mb-5 text-shadow text-gray-800 font-weight-normal">Let our experts find the best
            coupons and deals for you!</h5>
        </div>
        <div class="homepage-search-form">
          <form class="form-noborder">
            <div class="form-row">
              <div class="col-lg-3 col-md-3 col-sm-12 form-group">
                <div class="location-dropdown">
                  <i class="icofont-location-arrow"></i>
                  <select class="custom-select form-control-lg">
                    <option> All </option>
                    <option> Coupans </option>
                    <option> Offers </option>
                    <option> Stores </option>
                    <option> Restaurant </option>
                  </select>
                </div>
              </div>
              <div class="col-lg-7 col-md-7 col-sm-12 form-group">
                <input type="text" placeholder="Search for stores, coupons, & offers…" class="form-control border-0 form-control-lg shadow-sm">
              </div>
              <div class="col-lg-2 col-md-2 col-sm-12 form-group">
                <button type="submit" class="btn btn-primary btn-block btn-lg btn-gradient shadow-sm"><i class="icofont-search"></i></button>
              </div>
            </div>
          </form>
        </div>
        <h6 class="mb-0 mt-1 text-shadow text-center text-gray-500-700 font-weight-normal">E.g. Coupans,
          Offers, Brands, Stores, Restaurant & more...</h6>
      </div>
    </div>
  </div>
</section>