<section class="store-banner section-padding">
  <div class="banner-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h6 class="text-uppercase text-warning mb-0">Stores</h6>
        <h1 class="text-white">Find Awesome Stores in Dubai</h1>
        <h5 class="text-white font-weight-normal">Build a beautiful, modern website with<br>flexible Bootstrap
          components built from scratch.</h5>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-xl-9 mx-auto">
        <div class="homepage-search-form homepage-search-form-mobile">
          <form class="form-noborder">
            <div class="form-row">
              <div class="col-lg-3 col-md-3 col-sm-12 form-group mb-0">
                <div class="location-dropdown">
                  <i class="icofont-location-arrow"></i>
                  <select class="custom-select form-control-lg">
                    <option> All category </option>
                    <option> Category name </option>
                    <option> Category name </option>
                  </select>
                </div>
              </div>
              <div class="col-lg-7 col-md-7 col-sm-12 form-group mb-0">
                <input type="text" placeholder="Search keyword" class="form-control form-control-lg">
              </div>
              <div class="col-lg-2 col-md-2 col-sm-12 form-group mb-0">
                <button type="submit" class="btn btn-primary btn-block btn-lg btn-gradient">Search</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>