
  <section class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-lg-4 mb-4">
          <div class="page-title-h5 d-flex align-items-center">
            <h5 class="my-0 text-gray-900">All Product Deals</h5>
            <div class="dropdown ml-auto">
              <a class="btn btn-secondary dropdown-toggle btn-sm border-white-btn" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sort by: <span class="text-theme">Popularity</span> &nbsp;&nbsp;
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">Percent</a>
                <a class="dropdown-item" href="#">Amount</a>
                <a class="dropdown-item" href="#">Newest</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-lg-4">

        <%= render partial: "partials/filters" %>

        <div class="col-xl-9 col-sm-8">
          <div class="row">
          <% @offers.each do |offer| %>
          <%= render offer %>
          <% end %>
        </div>

        <div class="col-xl-12 text-center">
          <a href="#" class="btn btn-primary shadow btn-sm show-more-btn">Loading <i class="fas fa-circle-notch fa-spin"></i></a>
        </div>
      </div>

    </div>    </div>
  </section>
  <p style="color: green"><%= notice %></p>
  <%= link_to "New offer", new_offer_path %>  
